@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
body,
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Open Sans';
}
body {
  color: #48555B;
}
.header {
  min-height: 100vh;
  background: url(../img/header/header-bg.png) center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 41px;
  color: #fff;
}
.header__logo {
  width: 101px;
  margin: 0 auto 315px;
}
.header h1 {
  margin-bottom: 20px;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 6rem;
  Letter-spacing: 0.571rem;
  text-transform: uppercase;
}
.header__first {
  margin-bottom: 220px;
  font-weight: 600;
  font-size: 1.6rem;
}
.header__second {
  font-weight: 600;
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 5rem;
  }
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.navbar {
  height: 65px;
}
.navbar__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navbar__logo {
  height: 65px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbar__logo img {
  width: 80px;
}
.navbar .nav__list {
  height: 65px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
}
.navbar .nav__item {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.navbar .nav__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.09px;
}
.navbar .nav__link:focus {
  color: #00A4E5;
}
@media (max-width: 992px) {
  .navbar .container {
    max-width: 75rem;
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .navbar .container {
    max-width: none;
    padding: 0 2rem;
  }
}
hr {
  width: 5rem;
  height: 0.2rem;
  background-color: #00A4E5;
  border: none;
}
.title {
  font-weight: Bold;
  font-size: 1.8rem;
  letter-spacing: 0.231rem;
  margin-bottom: 1rem;
}
.text {
  font-size: 1.3rem;
  line-height: 2.3rem;
  letter-spacing: 0.19px;
}
.story {
  text-align: center;
  padding-bottom: 12rem;
}
.story__line {
  margin: auto;
  margin-bottom: 3rem;
}
.story__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.story__body {
  width: 39rem;
  text-align: left;
}
.story__heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.story__heading a {
  color: #00A4E5;
  font-size: 2rem;
  text-decoration: none;
}
.story__heading a:hover {
  text-decoration: underline;
}
.story__pics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: end;
  row-gap: 2rem;
}
.story__pics-item {
  width: 14rem;
  justify-self: end;
  align-self: flex-end;
}
@media (max-width: 992px) {
  .story .container {
    max-width: 75rem;
    padding: 0 2rem;
  }
  .story .story__pics-item {
    justify-self: center;
  }
  .story .story__row {
    display: block;
    text-align: center;
  }
  .story .story__body {
    display: block;
    text-align: center;
    margin: 0 auto 2rem;
  }
}
@media (max-width: 768px) {
  .story .story {
    padding-bottom: 2rem;
  }
  .story .story .container {
    max-width: none;
  }
  .story .story__pics-item {
    justify-self: center;
  }
}
button {
  width: 15rem;
  height: 4rem;
  background-color: #00A4E5;
  border: none;
  cursor: pointer;
  font-weight: Bold;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
}
.capabilities {
  padding-bottom: 10rem;
}
.capabilities__up {
  display: flex;
  margin-bottom: 7.5rem;
}
.capabilities .title-wrapper {
  margin-right: 15rem;
}
.capabilities__up-text {
  margin-right: 3rem;
  max-width: 40rem;
  font-size: 1.1rem;
  line-height: 1.9rem;
  letter-spacing: 0.02rem;
}
.capabilities__low {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.8rem;
}
.capabilities__low-heading {
  font-weight: Bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  margin: 2.5rem 0 1.3rem;
}
.capabilities__low-item {
  padding: 4rem 2rem;
  border: 1px solid #E6E6E6;
}
@media (max-width: 992px) {
  .capabilities .container {
    max-width: 75rem;
    padding: 0 2rem;
  }
  .capabilities .capabilities__up {
    display: block;
    text-align: center;
  }
  .capabilities .capabilities__up .title-wrapper {
    margin: 0 auto 2rem;
  }
  .capabilities .capabilities__up hr {
    margin: 0 auto;
  }
  .capabilities .capabilities__up-text {
    margin: 0 auto 2rem;
  }
  .capabilities .capabilities__low-item {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .capabilities .container {
    max-width: none;
    padding: 0 2rem;
  }
}
.amazing {
  padding: 12rem 0 23rem;
  background: url(../img/amazing-bg.png) center no-repeat;
  background-size: cover;
  text-align: center;
}
.amazing h2 {
  width: 35rem;
  margin: 0 auto;
  font-weight: Bold;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0.15px;
  margin-bottom: 3.5rem;
}
.signup {
  background-color: #171819;
  color: #fff;
  padding: 3rem 0;
  text-align: center;
}
.signup__wrapper {
  margin: 0 auto;
  max-width: 68.5rem;
  display: flex;
  justify-content: space-between;
}
.signup p,
.signup .login {
  display: inline-block;
  height: 4rem;
}
.signup p {
  font-weight: Bold;
  font-size: 2.2rem;
  letter-spacing: 0.85px;
}
.signup .login {
  background-color: #fff;
  max-width: 40rem;
}
.signup input {
  border: none;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 5rem;
  font-size: 1.4rem;
  letter-spacing: 0.07px;
  max-width: 30rem;
}
.signup button {
  font-weight: Bold;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  border: none;
}
@media (max-width: 768px) {
  .signup .signup__wrapper,
  .signup .signup__wrapper > p {
    display: block;
    margin: 0 auto;
  }
  .signup .login {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
.footer {
  color: #fff;
  font-size: 1.1rem;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer__top {
  min-height: 24rem;
  background-color: #141A20;
}
.footer__title {
  font-size: 1.1rem;
  letter-spacing: 0.85px;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .company,
.footer .links,
.footer .contact-us {
  width: 30%;
  text-align: left;
}
.footer .company {
  line-height: 1.9rem;
}
.footer__body img {
  margin-bottom: 1.5rem;
}
.footer .links {
  width: 30%;
  text-transform: uppercase;
  font-weight: Semibold;
  letter-spacing: 0.85px;
}
.footer .links__item {
  line-height: 2.5rem;
}
.footer .links__item p::first-child {
  line-height: 1.2rem;
}
.footer__body_links {
  display: flex;
  justify-content: space-between;
}
.footer .contact-us {
  line-height: 1.6rem;
  letter-spacing: 0.85px;
}
.footer .contact-us__item {
  width: 45%;
}
.footer .contact-us__item .contact {
  margin-bottom: 1.5rem;
}
.footer .contact-us__item:last-child {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.footer__body_contact {
  display: flex;
  justify-content: space-between;
}
.footer .copyright {
  display: flex;
  height: 6rem;
  background-color: #171819;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.85px;
}
@media (max-width: 992px) {
  .footer .footer__wrapper {
    padding: 0 3rem;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper {
    display: block;
  }
  .footer .footer__wrapper * {
    text-align: center;
    margin: 0 auto 1rem;
  }
  .footer .footer__wrapper *:last-child {
    margin-bottom: 0;
  }
}
