@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&display=swap');

@text: #48555B;
@blue: #00A4E5;

body, * {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Open Sans';
    
}
body {
    color: @text;
}
.header {
    min-height: 100vh;
    background: url(../img/header/header-bg.png) center no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 41px;
    color: #fff;
    &__logo {
        width: 101px;
        margin: 0 auto 315px;
    }
    h1 {
        margin-bottom: 20px;
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 6rem;
        Letter-spacing: 0.571rem;
        text-transform: uppercase;
    }
    &__first {
        margin-bottom: 220px;
        font-weight: 600;
        font-size: 1.6rem;
    }
    &__second {
        font-weight: 600;
        font-size: 1.1rem;
        color: inherit;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 5rem;
        }
    }
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.navbar {
    height: 65px;
    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__logo {
        img {
            width: 80px;
        }
        height: 65px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .nav {
        &__list {
            height: 65px;
            display: grid;
            grid-template-columns: repeat(5, auto);
            list-style: none;
        }
        &__item {
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
        }
        &__link {
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1.09px;
            &:focus {
                color: @blue;
            }
        }
    }
    @media (max-width: 992px) {
        .container {
            max-width: 75rem;
            padding: 0 2rem;
        }
    }
    @media (max-width: 768px) {
        .container {
            max-width: none;
            padding: 0 2rem;
        }
    }
}
hr {
    width: 5rem;
    height: 0.2rem;
    background-color: @blue;
    border: none;
}

.title {
    font-weight: Bold;
    font-size: 1.8rem;
    letter-spacing: 0.231rem;
    margin-bottom: 1rem;
}
.text {
    font-size: 1.3rem;
    line-height: 2.3rem;
    letter-spacing: 0.19px;
}


.story {
    text-align: center;
    padding-bottom: 12rem;
    &__line {
        margin: auto;
        margin-bottom: 3rem;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__body {
        width: 39rem;
        text-align: left;
    }
    &__heading {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;
        a {
            color: @blue;
            font-size: 2rem;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__pics {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: end;
        row-gap: 2rem;
        &-item {
            width: 14rem;
           justify-self: end;
           align-self: flex-end;

        }
    }
    @media (max-width: 992px) {
        .container {
            max-width: 75rem;
            padding: 0 2rem;
        }
        .story__pics-item {
            justify-self: center;
        }
        .story__row {
            display: block;
            text-align: center;
        }
        .story__body {
            display: block;
            text-align: center;
            margin:  0 auto 2rem;
        }
    }
    @media (max-width: 768px) {

        .story {
            padding-bottom: 2rem;
            .container {
                max-width: none;
            }
            &__pics-item {
                justify-self: center;
            }
        }
    }
}
button {
    width: 15rem;
    height: 4rem;
    background-color: @blue;
    border: none;
    cursor: pointer;
    font-weight: Bold;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
}
.capabilities {
    padding-bottom: 10rem;
    &__up {
        display: flex;
        margin-bottom: 7.5rem;

    }
    .title-wrapper {
        margin-right: 15rem;
    }
    &__up-text {
        margin-right: 3rem;
        max-width: 40rem;
        font-size: 1.1rem;
        line-height: 1.9rem;
        letter-spacing: 0.02rem;
    }
    &__low {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.8rem;
        
        &-heading {
            font-weight: Bold;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0.43px;
            text-transform: uppercase;
            margin: 2.5rem 0 1.3rem;
        }
        &-item {
            padding: 4rem 2rem;
            border: 1px solid #E6E6E6;
        }
    }
    @media (max-width: 992px) {
        .container {
            max-width: 75rem;
            padding: 0 2rem;
        }
        .capabilities__up {
            display: block;
            text-align: center;
            .title-wrapper {
                margin: 0 auto 2rem; 
            }
            hr {
                margin: 0 auto;
            }
            &-text {
                margin: 0 auto 2rem;
            }
        }
        .capabilities__low-item {
            text-align: center;
        }
    }
    @media (max-width: 768px) {
        .container {
            max-width: none;
            padding: 0 2rem;
        }
    }
    
}

.amazing {
    padding: 12rem 0 23rem; 
    background: url(../img/amazing-bg.png) center no-repeat;
    background-size:cover;
    text-align: center;
    h2 {
        width: 35rem;
        margin: 0 auto;
        font-weight: Bold;
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.15px;
        margin-bottom: 3.5rem;
    }
}

.signup {
    background-color: #171819;
    color: #fff;
    padding: 3rem 0;
    text-align: center;
    &__wrapper {
        margin: 0 auto;
        max-width: 68.5rem;
        display: flex;
        justify-content: space-between;
    }
    p, .login {
        display: inline-block;
        height: 4rem;
    }
    p {
        font-weight: Bold;
        font-size: 2.2rem;
        letter-spacing: 0.85px;
    }
    .login {
        background-color: #fff;
        max-width: 40rem;
    }
    input {
        border: none;
        height: 100%;
        padding-left: 1.5rem;
        padding-right: 5rem;
        font-size: 1.4rem;
        letter-spacing: 0.07px;
        max-width: 30rem;
    }
    button {
        font-weight: Bold;
        font-size: 1.3rem;
        letter-spacing: 0.5px;
        border: none;
    }

    @media (max-width: 768px) {
        .signup__wrapper, .signup__wrapper>p {
            display: block;
            margin: 0 auto;
        }
        .login {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
    }
}

.footer {
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    &__top {
        height: 24rem;
        background-color: #141A20;
    }
    &__title {
        font-size: 1.1rem;
        letter-spacing: 0.85px;
        text-transform: uppercase;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .company, .links, .contact-us {
        width: 30%;
        text-align: left;
        font-size: 1.1rem;
    }
    .company {
        line-height: 1.9rem;
    }
    .links {
        
        text-transform: uppercase;
        font-weight: Semibold;
        line-height: 2.5rem;
        letter-spacing: 0.85px;
    }
    &__body_links {
        &a::first-line{
            line-height: 0;
        }
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact-us {
        line-height: 1.6rem;
        letter-spacing: 0.85px;
    }
    .copyright {
        display: flex;
        height: 6rem;
        background-color: #171819;
        justify-content: center;
        align-items: center;
    }
}




